/* src/app/form/form.component.css */

:host {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(https://img.freepik.com/free-vector/organic-fluid-background_1199-354.jpg?w=900&t=st=1701639706~exp=1701640306~hmac=eb9350b6a42e954b33aadee05723ca54ce95dbbfa79f97c9a3297d75c03f28e7https://img.freepik.com/free-vector/organic-fluid-background_1199-354.jpg?w=900&t=st=1701639706~exp=1701640306~hmac=eb9350b6a42e954b33aadee05723ca54ce95dbbfa79f97c9a3297d75c03f28e7);
  background-size:cover;
  background-repeat: no-repeat;
  background-color: #f0f0f0; /* Set your desired background color */
}

.form-container {
  margin-top: 50px;
  background-color: #fff; /* Set the background color of the form container */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 1000px; /* Limit the width for better readability */
}

.form-question {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 8px;
  color: #333; /* Text color */
}

select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9; /* Light background color */
}

button {
  background-color: #4c7faf; /* Green color for the submit button */
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth transition */
}

button:hover {
  background-color: #1b1d9b; /* Darker green on hover */
}
