<div class="intro-container">
    <h1>Welcome to Academic Excellence App</h1>
    <p>Explore your statistics and get personalized tips to improve your academic results.</p>
    <h6>
        Our findings are based on a comprehensive survey that delves into various dimensions of life and academic experiences.  we aim to provide valuable insights and recommendations to enhance the overall well-being and academic success of students.
    </h6>
    <div class ="btn-group">
        <a routerLink="/statistics" class="get-started-btn">Statistics</a>
        <a routerLink="/form" class="get-started-btn">Get tips</a>
    </div>
  </div>
  