<div class="container">

  <div class="survey-call-to-action">
    <a>
      Our findings are based on a comprehensive survey that delves into various dimensions of life, encompassing mental, physical, and social aspects to gauge overall well-being. The survey meticulously assesses mental health, stress levels, lifestyle choices, social interactions, and academic experiences. Through a thoughtful examination of these crucial factors, we aim to provide valuable insights and recommendations to enhance the overall well-being and academic success of students.
    </a>
    <br>
      <a href="https://drive.google.com/file/d/1Ww6EZGSaL58jvynBnnwLL3Qmyr_Umf8r/view?usp=sharing" target="_blank" class="survey-link">Data</a>
  
  </div>
  <br>
  <div class="survey-call-to-action">
    <h3>Help Us Improve!</h3>
    <a>
      We believe in continuous improvement, and your feedback is invaluable. 
      If you haven't participated in our survey yet, we encourage you to do so. 
      Your input will contribute to a better understanding of various life dimensions and help us provide more accurate insights and recommendations.
    </a>
    <a href="https://forms.gle/F17Unk5NuPY8AnUy6" target="_blank" class="survey-link">Take the Survey</a>
  </div>



    <h2 class="text-center">Statistics Showcase</h2>
    
      <div class="statistic-block">
        <img src ="assets\newplot.png" alt="Statistic 2"  style ="margin-left: 300px; height :300px">
        <p>
          After conducting a survey, we have concluded that there are several important factors that influence school results. These include mental health, stress, anxiety, mood, self-esteem, physical health, exercise frequency, eating habits, social life, group activities, and comfort in school.
        </p>
      </div>

    


<div class="statistics-visualizations">
  <h3>Data Insights</h3>

  <div class="visualization">
    <h4>School Results Distribution</h4>
    <img src="assets\newplot (2).png" style ="margin-left:200px; height:300px">

    <p>The pie chart highlights an imbalanced distribution in school results, prompting the use of random oversampling to improve accuracy.</p>
  </div>

  <!-- Mental Health Histogram -->
  <div class="visualization">
    <h4>Mental Health Distribution</h4>

    <img src="assets\newplot (3).png" alt="Statistic 2"  style ="margin-left: 300px; height :300px" >
 <p>The histogram shows a distribution of mental well-being ratings. The distribution appears more balanced, with a slight skew towards higher ratings. This suggests that, on average, respondents report positive mental well-being. However, we still have some respondents who reported lower mental health ratings.</p>
  </div>

  <!-- Boxplot for Outliers -->
  <div class="visualization">
    <h4>Mental Health Outliers</h4>
    <img src="assets\newplot (4).png"  style ="margin-left:125px; height:300px">
    <p>The boxplot helps identify outliers in our dataset, which will be addressed before model training.</p>
  </div>

  
  

  <!-- Before and After Confusion Matrix -->
  <div class="visualization">
    <h4>StratifiedKfold</h4>
   
    <div class="image-container">
      <img src="assets\preddd.png" alt="Image 2" style="width: 50%; height:auto">
      <img src="assets\jjjj.png" alt="Image 2" style="width: 50%; height:auto">
    </div>

    <p>We will split and train our data using StratifiedKfold technique, for a more robust evaluation and as metrics we will use accuracy and f1 score.</p>
  </div>
</div>

      
      
      
      

 
  </div>
  